@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --dark-background: #07080A;
  --light-background: #131313;
  --card-background: #262626;
  --accent-color: #59DBC5;
  --icon-color: #CDCDCD;
  --font-color: #FBFBFB;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Mukta', sans-serif;
}

/* header */

nav {
  background: var(--dark-background);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 35px;
}

nav>h3 {
  color: var(--font-color);
  font-size: 25px;
  margin: 0;
  font-family: Pacifico;
}

.green {
  color: var(--accent-color);
}

.nav-links {
  display: flex;
  gap: 25px;
  align-items: baseline;
}

.link {
  color: var(--font-color);
  text-decoration: none;
  font-weight: 500;
}

.resume-btn {
  font-family: 'Mukta', sans-serif;
  font-weight: 500;
  padding: 5px 10px;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 3px;
  background: var(--accent-color);
  color: var(--dark-background);
  border-radius: 5px;
  text-decoration: none;
  display: inline;
}

/* home */

.home-container {
  background-color: var(--dark-background);
  padding: 40px;
  text-align: center;
  color: var(--font-color);
}

.home-container>h1 {
  font-size: 40px;
}

.home-container>h3 {
  font-size: 25px;
  margin: 0 auto;
  width: 60%;
  font-weight: 400;
}

.social-buttons {
  width: 350px;
  margin: 50px auto 0;
  display: flex;
  justify-content: space-between;
}

.social-buttons>a {
  font-size: 25px;
  background: var(--icon-color);
  padding: 15px;
  display: flex;
  border-radius: 50px;
  color: var(--dark-background);
}

.certificates-container {
  text-align: center;
  background: var(--light-background);
  padding-top: 35px;
}

.certificates-container>p,
.projects-container>p,
.about-container>p,
.technical-intro>p,
.contact-container>p {
  margin-top: 0;
  color: var(--font-color);
  font-size: 20px;
  margin-bottom: 0;
}

.certificates-container>h3,
.projects-container>h3,
.about-container>h3,
.technical-intro>h3,
.contact-container>h3 {
  color: var(--font-color);
  font-size: 34px;
  margin-top: 0;
  margin-bottom: 0;
}

.certificate-card {
  width: 25%;
  background: var(--card-background);
  padding: 40px 25px 25px 25px;
  border-radius: 10px;
  border: 1px solid var(--accent-color);
  text-align: left;
  color: var(--font-color);
  position: relative;
}

.certificate-card::after {
  color: #2D2D2D;
  content: attr(num);
  display: block;
  font-size: 80px;
  line-height: 1;
  position: absolute;
  top: 5px;
  right: 15px;
}

.first-certificate {
  background: var(--accent-color);
  color: var(--dark-background);
}

.first-certificate::after {
  color: #50C6B3;
}

.cert-icon {
  font-size: 30px;
}

.certificate-card>h2 {
  margin-bottom: 8px;
}

.certificate-card>p {
  margin-top: 15px;
  margin-bottom: 0;
  line-height: 25px;
  font-size: 18px;
  letter-spacing: .5px;
  font-weight: 400;
}

.line {
  height: 1.5px;
  width: 30%;
  background: var(--font-color);
}

.first-line {
  background: var(--dark-background);
}

.certificates {
  display: flex;
  justify-content: space-around;
  background: var(--light-background);
  padding: 40px 0;
}

/* projects */

.projects-container {
  text-align: center;
  background: var(--dark-background);
  padding-top: 35px;
}

.inner-projects-container {
  display: flex;
  justify-content: space-around;
  padding: 40px 0;
}

.thumbnail {
  width: 100%;
  border: 1.5px solid var(--accent-color);
  border-radius: 10px;

}

.project-card {
  width: 25%;
  color: var(--font-color);
}

.project-card>h3 {
  font-size: 24px;
}

.project-card>p {
  line-height: 25px;
  font-size: 18px;
  letter-spacing: .5px;
  font-weight: 400;
}

/* about */

.about-container {
  text-align: center;
  background: var(--light-background);
  padding-top: 35px;
  position: relative;
}



.inner-about-container,
.technical-skills-container {
  display: flex;
  justify-content: space-between;
  padding: 35px 100px;
  align-items: center;
}

.inner-about-container::after {
  content: url("assets/images/Ellipse.png");
  top: 20px;
  right: 10px;
  position: absolute;
  display: block;
}

.technical-skills-container {
  position: relative;
}


.inner-about-container>img {
  width: 400px;
  height: 400px;
}

.about-text-btn {
  text-align: left;
  width: 700px;
}



.about-text {
  line-height: 30px;
  font-size: 18px;
  letter-spacing: .5px;
  font-weight: 400;
  color: var(--font-color);
}

.email {

  color: var(--font-color);
}

.technical-intro {
  text-align: left;
  color: var(--font-color);
  width: 400px;
}

.technical-intro::after {
  content: url("assets/images/Ellipse.png");
  top: 10px;
  left: -60px;
  position: absolute;
  display: inline-block;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 600px;
}

.skill {
  color: var(--font-color);
  border: 1.5px solid var(--accent-color);
  border-radius: 10px;
  padding: 10px 15px;
  flex-grow: 1;
  margin: 20px;
  font-size: 20px;
}

/* contact */

.contact-container {
  text-align: center;
  background: var(--dark-background);
  padding: 35px;
  padding-bottom: 70px;
}

.contact-form {
  background: var(--light-background);
  display: flex;
  justify-content: space-between;
  color: var(--font-color);
  width: 800px;
  margin: auto;
  padding: 35px;
}

.contact-container::after {

  content: url("assets/images/shape.png");
  position: absolute;
  top: 30px;
  right: 30px;
}

.shape {
  position: relative;
}

.module-title{
  background: var(--dark-background);
  border: 2px solid var(--accent-color);
  color: var(--font-color);
  border-radius: 0px;
}


.contact-form-right {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 400px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  font-family: 'Mukta', sans-serif;
  margin-bottom: 20px;
  background: transparent;
  border: 2px solid var(--card-background);
  border-radius: 10px;
  padding: 10px;
  color: var(--font-color);
}

label {
  margin-left: 2px;
}

textarea {
  height: 70px;
  resize: none;
}

.discuss-upper {
  margin: 0;
}

.discuss {
  text-align: left;
  color: var(--accent-color);
  font-size: 17px;
  margin: 0;
  margin-bottom: 25px;
}

.personal-info {
  display: flex;
  align-items: center;
  gap: 20px;
  color: var(--accent-color);
}

.info-icon {
  font-size: 15px;
  background: var(--icon-color);
  padding: 10px;
  display: flex;
  border-radius: 50px;
  color: var(--dark-background);
}

.personal-info>p {
  font-size: 17px;
}

.white {
  color: var(--font-color);
}

/* footer */

.footer-container {
  background: var(--light-background);
  padding: 35px 0 20px;
  color: var(--font-color);
}

.inner-footer-container {
  display: flex;
  justify-content: space-around;
  padding-bottom: 35px;
  border-bottom: 1px solid var(--card-background);
}

.inner-footer-container>h3 {
  color: var(--font-color);
  font-size: 20px;
  margin: 0;
  font-family: Pacifico;
}

.footer-info {
  display: flex;
}

.titles>p {
  margin: 3px;
}

.inside-links>a {
  display: block;
  text-decoration: none;
  color: var(--font-color);
  margin: 3px;
}

.outside-links>a {
  color: var(--icon-color);
  margin-right: 10px;
}

.outside-links-container>p {
  margin: 3px;
}

.vertical-line {
  height: 100%;
  width: 1px;
  background: var(--font-color);
  margin: 0px 30px;

}


.footer-container>p {
  font-size: 14px;
  text-align: center;
  margin: 20px 0 0;
}

@media (max-width: 900px) {
  .contact-form {
    flex-direction: column;
    gap: 30px;
    align-items: left;
    width: 90%;
    padding: 35px 15px;
  }

  .inner-about-container {
    flex-direction: column;
  }
}

@media (max-width: 700px) {
  nav {
    padding: 15px;
  }

  nav>h3 {
    font-size: 20px;
  }

  .nav-links {
    display: flex;
    gap: 10px;
    align-items: baseline;
  }

  .hidden {
    display: none;
  }

  .home-container>h3 {
    font-size: 25px;
    width: 85%;
  }

  .home-container {
    padding: 35px 15px;
  }

  .social-buttons {
    width: 90%;
  }

  .certificates {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .certificate-card {
    width: 90%;
  }

  .inner-projects-container {
    flex-direction: column;
    align-items: center;
  }

  .project-card {
    width: 85%;
    margin-bottom: 40px;
  }

  .inner-about-container {
    padding: 35px 0;
  }

  .inner-about-container>img {
    width: 90vw;
    height: 90vw;
  }

  .technical-skills-container {
    padding: 35px 0;
    flex-direction: column;
  }

  .about-text-btn {
    text-align: left;
    width: 85%
  }

  .technical-intro {
    width: 85%;
  }

  .skills {
    width: 95%;
  }

  .contact-form-right {
    width: 100%;
  }


  .contact-form {
    width: 100%;
    text-align: left;

  }

  .inner-footer-container {
    flex-direction: column;
    padding: 25px;
    padding-top: 0;
  }

  .footer-info {
    flex-direction: column;
    align-items: left;
  }

  .vertical-line {
    width: 90%;
    height: 1px;
    margin: 30px 0px;

  }


}

@media (max-width: 375px) {
  nav>h3 {
    font-size: 12px;
  }

  .nav-links {
    gap: 8px;
  }
}